body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  display: grid;
  place-items: center;
  margin-top: 100px;
  color: #fff;
}

.todoField {
  display: flex;
  align-items: center;
}
.todoField .todoField_btn {
  color: white;
  background-color: coral;
  border: 0;
  height: 35px;
}
.todoField .todoField_input {
  height: 35px;
  padding: 0 10px;
  border: 0;
  outline: 0;
}

/*todos*/

.todos {
  list-style-type: none;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}
.todos_item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.todos_text {
  text-transform: uppercase;
  font-size: 14px;
}

.todos .todos__buttons a {
  margin: left 10px;
  text-decoration: none;
  cursor: pointer;
}
.todos .todos__text .todos__text--done {
  text-decoration: line-through;
}

.todos .todos__buttons button {
  margin-left: 10px;
  text-decoration: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.todo::-webkit-scrollbar {
  width: 5px;
  background-color: coral;
}
